@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Sans TC', 'Roboto', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", monospace, Arial,
    sans-serif;
  }
  a{
    @apply no-underline block
  }
  img{
    @apply block max-w-full h-auto object-cover
  }
}
@layer components {
  .btn {
    @apply py-2 px-10 text-center rounded;
  }
  .btn-primary {
    @apply bg-primary-01 text-white transition-all duration-150 ease-in-out hover:bg-secondary-yellow hover:text-[#3D3D3D] focus:bg-secondary-blue focus:text-black;
  }
  .tag{
    @apply py-2 px-4 rounded-full bg-secondary-yellow transition-transform hover:scale-x-110 hover:text-primary-03 text-sm whitespace-nowrap
  }
  .skeleton{
    background: linear-gradient(
            100deg, 
            rgba(256, 256, 256, 0) 30%,
            rgba(256, 256, 256, 0.5) 50%,
            rgba(256, 256, 256, 0) 30%)
            #ededed;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s skeleton-loading ease-in-out infinite;
  }
  @keyframes skeleton-loading{
    /* 0% {
      background-color: hsl(200,20%,70%);
    }
    100%{
      background-color: hsl(200,20%,95%);
    } */
    to{
      background-position-x: -20%;
    }
  }
}

.p-button {
  color: black;
  border-color: #d4d4d8;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.p-button:focus,.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus,.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus,.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus,.p-datepicker .p-timepicker button:focus,.p-datepicker table td > span:focus,.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  box-shadow: 0 0 0 1px #EF5230;
}

.p-button:enabled:hover {
  background: #ef5230;
  color: #ffffff;
  border-color: #ef5230;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link,.p-datepicker table td > span.p-highlight {
  background: #ffffff;
  border-color: #ef5230;
  color: #ef5230;
}

.p-inputtext:enabled:focus,.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 1px #fbe3d1;
  border-color: #ef5230;
}


.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: #ef5230;
}

.p-button.p-button-text:enabled:hover,.p-button.p-button-text:enabled:active,.p-button:enabled:active{
  color: #EF5230;
  background-color: #fbe3d1;
  border-color: #EF5230;
}
.p-button.p-button-text{
  color: #d4d4d8;
}
.p-dialog{
  width: 300px;
}
.p-confirm-dialog .p-dialog-content{
  justify-content: center;
}

.p-confirm-dialog-message{
  font-size: 24px;
}

.custom-toast-danger {
  background-color: rgb(243, 198, 198);
}

.fc.fc-theme-standard .fc-toolbar .fc-button,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-theme-standard .fc-toolbar .fc-button:disabled,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button.fc-button-active {
  background: #ef5230;
  border: #ef5230;
}

.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button:not(:disabled):focus,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button:not(:disabled):focus,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button:not(:disabled):focus,
.fc.fc-theme-standard .fc-toolbar .fc-button:focus,
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active:focus,
.fc.fc-theme-standard .fc-toolbar .fc-button:focus {
  box-shadow: none;
}

.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button.fc-button-active:hover,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button.fc-button-active:hover,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button.fc-button-active:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:hover {
  background: #fbe3d1;
  border: 1px solid #fbe3d1;
}


.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
  background: #f1675d;
  border: #f1675d;
}
.fc-list-event {
  cursor: pointer;
}

@media (max-width:576px){
  .fc .fc-toolbar-title{
    font-size: 24px !important;
  }
  .fc-timeGridWeek-button,.fc-dayGridMonth-button,.fc-timeGridDay-button {
    display: none !important;
  }
}
